[2012-05-07 12:47] Nowaker opened #5 "Maven repository"
Is there any Maven repository that hosts this library?

[2012-05-07 12:58] #5 closed, assigned to nobody

[2013-09-30 11:25] JianbaoTao opened #13 "unable to find class 'ArquillianSputnik.class' for annotation attribute constant"
I used the Greeter project in the Arquillian getting started guide to try out arquillian-testrunner-spock. However, I couldn't get it to work because of this issue. I use gradle to build. Relevant codes are pasted below.

Files:
./build.gradle
./src/main/java/greeter/Greeter.java
./src/test/groovy/greeter/GreeterSpec.groovy
./src/test/java/greeter/GreeterTest.java

**build.gradle**

[code]

**Gree

[2014-02-07 09:48] ssi-hu-balint-balku opened #14 "Wrong service definition in standalone runner"
I tried using the arquillian-spock-standalone artifact for testing (1.0.0.Beta2), but was unable to run any tests, all resulted in a ClassNotFoundException:

**Caused by: java.lang.ClassNotFoundException: org.jboss.arquillian.junit.standalone.SpockStandaloneExtension**

Happens every time the runner tries to initialize services. The SpockStandaloneExtension class is on the classpath, but looks lik

[2014-02-07 12:24] #14 closed, assigned to nobody

[2014-02-14 12:29] #13 closed, assigned to nobody

[2014-06-20 20:58] martin-welss opened #15 "Exception with wildfly 8.1"
When I run the test and it gets deployed in the container, the following Exceptions are thrown:

Caused by: java.lang.ClassNotFoundException: org.objectweb.asm.Opcodes from [Module "deployment.test.war:main" from Service Module Loader]

22:46:12,610 ERROR [io.undertow.request](default task-2) UT005023: Exception handling request to /test/ArquillianServletRunner: org.spockframework.util.InternalSpo

[2014-08-30 16:21] #15 closed, assigned to nobody

[2015-01-28 12:15] vlad-mk opened #17 "Tests functions called N^2 times for a "where:" block"
Tests functions called N^2 times for  a "where:" block,
where N is a size of the "where:" block.
I think spock iterates twice over "where: " block. on the client side and in a container.

Example:
        when:
            println i
        then:
            i == 1
        where:
            i << (1..2)

Output:
13:01:14,287 INFO  [stdout] (http-/127.0.0.1:8080-2) 1
13:01:14,350 INFO  [stdout] (ht

[2015-03-16 07:36] kriegaex opened #18 "Testrunner does not like Spock 1.0"
We use this in our project:

[code]

Obviously the Spock container does not like Spock 1.0. It says:

[code]

**Update:** I also tried this, to no avail:

[code]

[2015-03-16 09:08] bartoszmajsak commented on #18
Thanks for the detailed report. It seems that Sputnik runner has been changed. I will take a lookt at it.

[2015-03-16 12:15] kriegaex commented on #18
Well, actually the Spock API has changed too between 0.7 and 1.0, e.g. the lifecycle methods are now no longer single instances but collections. I.e. I tried to change method `interceptLifecycleMethods` like this:

    private void interceptLifecycleMethods(final SpecInfo specInfo, final ArquillianInterceptor interceptor)
    {
        for (MethodInfo methodInfo : specInfo.getSetupSpecMethods())

[2015-03-16 12:32] bartoszmajsak commented on #18
Thanks, please make a PR so I can continue based on the work you have already done. Otherwise I would re-do the same ;)

[2015-03-24 07:47] kriegaex commented on #18
Ping. Can you say anything about when you can fix this? Not that it is your problem, but for my Scrum team this is a blocker. I am just saying this FYI.

[2015-04-05 14:30] robertpanzer opened #20 "Spock Runner does not run with Arquillian-Core >= 1.1.4.Final"
If I use the spock runner with Arquillian-Core 1.1.7.Final I get the following error:

[code]

This is due to a change in TestResult that went into arquillian-core 1.1.4.Final.
The return type of the the method changed from `void` to `TestResult`.

A recompilation with updated dependencies should be sufficient to resolve the problem.

[2015-04-05 15:28] robertpanzer commented on #20
Just retested with 1.1.3.Final and 1.1.4.Final and I can confirm that the error occurs with 1.1.4.Final but not with 1.1.3.Final.

[2015-04-05 16:11] aslakknutsen commented on #20
Are you using the Arquillian-Bom ?

[2015-04-05 16:23] robertpanzer commented on #20
No, I am currently playing around with Spock in AsciidoctorJ (gradle) and didn’t dare yet to introduce the DependencyManagement plugin ;-)

But I can’t imagine how that could help if the org.jboss.arquillian.spock.standalone.LocalTestMethodExecutor is compiled against arquillian-core <= 1.1.3.Final and I want to run with something more recent.

And I’ve some other issues as well, but these are pro

[2015-04-05 16:24] robertpanzer commented on #20
The test case is not available yet on github.
If you want to try that out I would have to push that.

Happy easter!

[2015-04-05 16:26] aslakknutsen commented on #20
sure, push it to some branch :)

[2015-04-05 16:34] robertpanzer commented on #20
Sorry, had some issue in my dependencies.
It works now.

Thank you for responding so quickly!

[2015-04-05 16:34] #20 closed

[2015-04-05 16:37] aslakknutsen commented on #20
:+1:

[2015-04-06 11:12] robertpanzer commented on #20
Just to make it complete in case someone else stumbles over the same problem:
Problem was that I mixed arquillian-junit-container and arquillian-spock-standalone.
Must be both arquillian-junit-container and arquillian-spock-container.

[2015-04-15 16:10] bartoszmajsak commented on #18
Pong,

sorry for being silent lately. I've been busy with my regular job. I am on holidays now so cannot really dive into this, but I will be back first weekend of May and this is one of the first things for me to look at. With batteries fully re-charged I should be able to help you promptly :)

Cheers,
Bartosz

[2015-05-28 08:52] kriegaex commented on #18
Ping reloaded - 2.5 months. ;-)

[2015-05-28 08:53] bartoszmajsak commented on #18
![star-trek-wtf-2](https://cloud.githubusercontent.com/assets/719616/7856225/b4a50d58-0527-11e5-8961-37612e26fa8a.gif)
OMG ! :)

It's coming!

[2015-06-19 08:25] lrzeszotarski commented on #20
so to conclude, you are able to run ti with version >= 1.1.4.Final, or only with 1.1.3?

[2015-06-19 08:37] robertpanzer commented on #20
Yes! It's used here:
https://github.com/asciidoctor/asciidoctorj/tree/asciidoctorj-1.6.0

[2015-06-19 09:01] lrzeszotarski commented on #20
hmmmm than strange because i have bot arquillian-junit-container 1.1.8.Final and arquillian-spock-container 1.0.0.Beta3 and still the problem with java.lang.NoSuchMethodError: org.jboss.arquillian.test.spi.TestResult.setEnd(J)V :/

[2015-06-24 13:14] kriegaex commented on #18
Did your brain actually burst? :-P

[2015-06-24 13:31] bartoszmajsak commented on #18
I was soaked in other stuff + conference thing. I am coming back this weekend so except to have it realesed by 03.07. That's the commitment.

[2015-07-06 06:53] bartoszmajsak commented on #18
Besides this crazy heat outside I spent quite a bit of time analyzing this problem :) It seems that for some reason  in-container bits of Spock-Arquillian integration are triggered on the client side which results in pretty meaningless NPE in the logs. I hope to have a solution for that within next few days.

[2015-08-05 17:58] Raneves commented on #20
I have the same problem with https://github.com/ingwarsw/arquillian-suite-extension
@RunWith(Arquillian.class)
@RunAsClient
@ArquillianSuiteDeployment
public abstract class BaseAPITest<T>

[2015-08-18 11:34] nate9 commented on #18
Hey, I've forked kriegaex's fix, and run some tests using Travis. Seems that on Oracle Java 1.7 it seems to throw the NPE's. It seems to not like Inject annotation. Oracle Java 1.8 seems to pass those tests though.

[2015-08-19 06:07] kriegaex commented on #18
@nate9: I am not sure my PR is really a fix. As I said, it only makes the project compile. I cannot even remember the exact type of follow-up problem it caused, but I am pretty sure it did cause runtime problems. Someone knowing the code base (probably Bartosz) needs to fix it.

[2015-08-19 16:47] ewsachse commented on #18
I tried the PR, and it failed on NullPointerExceptions when running Spock-Arquillian tests.  I was using Java 1.7 and Groovy 2.4 if that is of any help.

[2015-08-19 20:39] nate9 commented on #18
Actually Java 8 doesn't pass the tests, the container runs, but the tests don't seem to do anything :/. Perhaps the container configurations for those tests are outdated?

[2015-08-19 20:55] ewsachse commented on #18
That is good to know.  I was actually trying to run tests from my application's project with the fix.  No dice.  I just rolled Spock back to 0.7-groovy-2.0, but I was hoping to use 1.0.  I think we can wait for a fix for now.

[2015-08-19 21:03] kriegaex commented on #18
I repeat: the PR is *not* a fix, just a starting point for the maintainer to get it fixed a little bit easier than starting from scratch.

[2015-09-17 10:51] kriegaex commented on #18
1/2 year anniversary. @bartoszmajsak, is there any hope left for me? Or can you tell me how to repair it by myself and provide a better PR?

[2015-09-17 11:06] bartoszmajsak commented on #18
Let's crack open the champagne!

As Spanish say

;)

I have had a closer look at this issue in the past but I do not have any conclusions as of yet :( So I cannot really provide any guidance at the moment. I will try to go back to it over the weekend and hopefully fix it or at least give you some hints if you are willing to take over. Apologies.

[2015-09-17 11:11] kriegaex commented on #18
Maybe you can ask the Spock people for guidance in the other ticket I opened and linked to this one a while ago. Probably I am not a big help here. Crossing my fingers and keeping the hope alive for a little longer.

P.S.: Germans say the same, even literally.

[2015-09-17 11:14] bartoszmajsak commented on #18
As far as I know it's not really related to Spock per se, rather how the integration with Arquillian runner is implemented. Somehow it's executed on the client side, which should not be the case. And hence NPEs.

[2015-09-17 11:17] kriegaex commented on #18
Are you in contact with any Arquillian devs? Maybe someone can lend a hand or at least another pair of eyes. My old chemistry teacher used to say: "Knowledge is to know where to find it."

[2015-09-17 11:21] bartoszmajsak commented on #18
Sure. Thanks for your patience.

[2015-09-24 21:19] lordofthejars commented on #18
Hi @bartoszmajsak any good news about this issue?

[2015-09-25 07:05] bartoszmajsak commented on #18
Yes. I almost have it running :)

[2015-09-28 12:55] SchlammSpringer opened #21 "No jacoco coverage with arquillian 1.1.9.Final"
Hello all together,
With Arquillian Core 1.1.9.Final it is possible to use  `@ArquillianResource` without using `@RunAsClient`. So it ist finally possible to cover such test with jacoco and the `jacoco-maven-plugin`.
The coverage ist correct in a JUnit Test but not in a Spock test with `ArquillianSputnik`.
Does `ArquillianSputnik`generally support the `jacoco-maven-plugin`?

[2015-10-02 05:38] lordofthejars commented on #18
@bartoszmajsak please tell me you have good news about this :)

[2015-10-23 12:21] kriegaex commented on #18
Ping. :-)

[2015-11-02 19:50] aslakknutsen commented on #18
Update: We had a look at this issue during JavaOne hackergarten and if my memory serves me we found a solution to it. The only big question mark seems to be a question mark that is present in previous versions as well; The user needs to add a "def spec" method for the Before phase to be triggered at all. @bartoszmajsak is currently away surfing in Hawaii, but I'm sure he'll push the code when he c

[2015-11-03 06:51] bartoszmajsak commented on #18
The issue consists of several problems we have identified. Besides aforementioned by @aslakknutsen `before` and `beforeclass` events not being triggered, spock itself changed packaging slightly and during bootstrap it verifies if arbitrary properties has been defined (e.g. spock release version).

I've have pushed "fixed" code to the [new branch](https://github.com/arquillian/arquillian-testrunner

[2015-11-03 14:47] kriegaex commented on #18
@aslakknutsen: Before we try this, can you please elaborate a bit on how to to the "def spec" thing in order to get the Before phase triggered? Maybe we need this workaround in our tests.

[2015-11-03 22:08] aslakknutsen commented on #18
@kriegaex Sorry, meant "setup": https://github.com/arquillian/arquillian-testrunner-spock/blob/master/examples/groovy-1.x/src/test/groovy/org/jboss/arquillian/spock/AccountServiceSpecification.groovy#L42

[2015-11-05 09:26] kriegaex commented on #18
For me it does not work. I get the following stack trace:

	my.package.wrapper.MyIT  Time elapsed: 20.785 sec  <<< ERROR!
	org.jboss.arquillian.container.spi.client.container.DeploymentException: Cannot deploy: my.module.wildfly-1.20.0-SNAPSHOT.war
		at org.jboss.as.arquillian.container.ArchiveDeployer.deployInternal(ArchiveDeployer.java:83)
		at org.jboss.as.arquillian.container.ArchiveDeployer.d

[2015-11-05 09:31] aslakknutsen commented on #18
@kriegaex That just seems to imply that there is an archive deployed with the same name all ready. If you have a clean server to start with, and still get this, the BeforeClass phase might be called twice. you have multiple 'def specSetup' methods?

[2015-11-05 09:51] kriegaex commented on #18
We have no specSetup methods at all in any of our projects. What we have is ShrinkWrap calls like this:

    @Deployment
    public static WebArchive createTestArchive() {
        PomEquippedResolveStage pom = Maven.resolver().loadPomFromFile("pom.xml");
        File[] pdfbox = pom.resolve("org.apache.pdfbox:pdfbox").withTransitivity().asFile();
        File[] cglib = pom.resolve("cglib:cglib-node

[2015-11-09 12:46] kriegaex commented on #18
Ping! Can I do anything in order to help you track down this issue?

[2015-11-09 12:52] aslakknutsen commented on #18
@kriegaex What? If you downgrade Spock the name of the ShrinkWrap created war change?

[2015-11-09 12:54] bartoszmajsak commented on #18
Could it be that this deployment is triggered twice in your case?

[2015-11-09 16:19] kriegaex commented on #18
Yes, downgrading helped, because with the old Arquillian Spock Container and Spock 0.7 [this ShrinkWrap bug](https://issues.jboss.org/browse/SHRINKRES-176) did not do any harm, but we hit it after the upgrade. So we upgraded to ShrinkWrap Resolver 2.2.0 (from 2.1.1) and the issue went away. But now we have a new problem:

All our white-box tests fail with errors similar to this one:

	java.lang.Nu

[2015-11-09 16:23] bartoszmajsak commented on #18
Do you also have following in place?

[code]

[2015-11-09 16:23] aslakknutsen commented on #18
Right, that is where the spec method came in. Try to add a empty one..

[2015-11-12 11:05] kriegaex commented on #18
Okay, I had forgotten to unstash the `setup()` methods. This issue is fixed by adding the methods everywhere. Can I expect this to be fixed before the next release?

But now I have the next issue. It seems to be a regression with respect to the previous version: I can see in my logs that after the first integration test my artifact "smoke.ear" is never undeployed, so each subsequent test (using th

[2015-11-12 11:44] bartoszmajsak commented on #18
Might be the very same reason. Let me investigate. I will keep you posted.

[2015-11-13 12:26] kriegaex commented on #18
Just an idea: Do you think, temporarily adding an empty `cleanup()` or `cleanupSpec()` method would help with the undeployment issue, just like the empty `setup()` helped with the other one?

[2015-11-13 12:29] bartoszmajsak commented on #18
It might. I thought you have tried that already :)

[2015-11-17 11:32] kriegaex commented on #18
It does not really help. @bartoszmajsak, could you identify any root causes or even fix them? Is there a functioning workaround for now?

[2015-11-22 20:15] bartoszmajsak commented on #17
Thanks for reporting this problem. In fact it's not n^2, but 2n. Still it is weird. I'm investigating this problem at the moment.

[2015-11-22 20:54] kriegaex commented on #17
We see the same thing in our project. This is why we had to manually duplicate test code which used to be `@Unroll`ed Spock-style tests with `where` blocks. We would be glad to see this fixed. :-)

[2015-11-22 20:54] bartoszmajsak commented on #17
I would be super glad too :) I'm on it at this very moment.

[2015-11-22 20:55] kriegaex commented on #21
Oh, and BTW,mthe guy who reported this is also from our project. ;-)

[2015-11-22 21:32] kriegaex commented on #17
I do not have access to the code just now, being at home, but as for n^2 versus 2n, I think I remember that with `@Unroll` we did have the n^2 phenomenon (4 rows in a `where` table, 16 test executions). I even think one of my team members prepared a test case for it. I can try to dig it up. I think it happened with white-box tests only, not with black-box tests, but I am not sure right now.

[2015-11-22 22:05] bartoszmajsak commented on #18
I pushed the fix for "undeploy not being invoked" problem. Before we do a release I really would love to fix two remaining issues:

- injection of all components should not enforce dummy `setup` method
- parametrized tests should not be invoked several times

Working hard on it.

[2015-11-22 22:23] bartoszmajsak commented on #21
Just wondering which circle of hell is this ;)

[2015-11-22 22:24] kriegaex commented on #18
I totally agree. Gonna test this first of three fixes tomorrow morning, unless my duties as a Scrum coach point me in another direction. Thanks for all your hard work. I am glad we get some traction on these issues, I appreciate it very much.

[2015-11-23 11:29] kriegaex commented on #18
Hey, we reached a milestone: Disregarding our workarounds for the two issues mentioned in your previous comment, for the first time ever we have just had a green build for our ITs with Spock 1.0. The undeployment issue seems to be resolved. :-)

[2015-11-23 11:45] bartoszmajsak commented on #18
![thats-the-way-i-like-it](https://cloud.githubusercontent.com/assets/719616/11335813/1997c878-91e0-11e5-9d42-3de45364a896.gif)

Hopefully the others will be fixed soon.

[2015-11-23 11:57] kriegaex commented on #17
I found the test:

[code]

Here is the log output:

[code]

[2015-11-23 12:04] bartoszmajsak opened #23 "Add more containers for example/tests"
Current set of containers is a bit out of date. We should add at least following:

* Wildfly 8/9/10
* TomEE

[2015-12-09 02:18] NagyGa1 commented on #18
Works for me, with the workaround of dummy setup method, tks.

[2015-12-09 07:42] bartoszmajsak commented on #18
The solution to avoid dummy setup method is to use extension together with the interceptors. I am working on it.

[2015-12-09 12:50] kriegaex commented on #18
Seems to be a hard nut to crack. :-o Thanks for your effort.

[2015-12-09 19:34] bartoszmajsak commented on #18
It's more a matter of free time to be honest.

[2015-12-16 10:46] kriegaex opened #24 "Could not obtain SpecInfo from Sputnik Runner"
In order to log feature method names ("test method names") I added this JUnit rule to our code base:

[code]

[code]

I made all our unit tests inherit from `OurSpockSpec` and everything runs just fine.

Now I did a similar thing for our Geb Tests which are executed in a WildFly server via Arquillian Spock Runner:

[code]

Now our Geb tests inherit from `OurGebSpec` (which they have done before an

[2015-12-16 12:18] bartoszmajsak commented on #24
Thanks for the detailed report :) Seems that I am going to have plenty of work to do during Christmas, not only eating and spending time with family.

I will try hard to wrap all of it up before new year!

[2015-12-16 13:14] kriegaex commented on #24
The road to hell is paved with good intentions, they say... ;-)

[2015-12-16 13:15] bartoszmajsak commented on #24
That was quite heavy joke ;)

[2015-12-16 13:25] kriegaex commented on #24
If you have ever tried to renounce chocolate or start doing more sports, you know what I mean.

[2015-12-16 13:27] bartoszmajsak commented on #24
Sure, or reduce beer etc.

In general New Years resolutions ;)

[2015-12-17 12:00] kriegaex commented on #24
I just found out by means of _Maven Enforcer Plugin_ that conflicting JUnit versions from a BOM and our own project were the source of the problem. Somehow the shrink-wrapped WAR did not find the right version. Fixing the version in the `<dependencyManagement>` section of our root POM also fixed our integration tests.

This one was really nasty to debug. Now there is a little more time for you to

[2015-12-17 12:00] #24 closed

[2015-12-17 12:20] bartoszmajsak commented on #24
![code-09](https://cloud.githubusercontent.com/assets/719616/11869528/df898790-a4c0-11e5-9bb5-c52fa120e368.gif)

[2016-01-07 11:54] kriegaex commented on #18
Groundhog day: ping and a Happy New Year! :-)

[2016-01-14 11:19] Steve973 commented on #18
Hello.  I am also interested in this issue.  Spock support is a huge reason why I am considering switching to Arquillian from Pax Exam.

[2016-01-17 22:34] bartoszmajsak commented on #18
Long awaited **`Pong`** I guess :)

I've just committed a fix which frees you from adding `setup/cleanup` methods in order to make Arquillian happy. I'm still investigating n^2 problem, but getting close.

[2016-01-18 16:31] kriegaex commented on #18
I tested it successfull - the synthetic setup-Methods seem to be no longer needed. I say "seem to" because nowadays all our Spock tests inherit from a class which has a setup-Method for other reasons. A quick test with one Arquillian Spock test directly inheriting from `Specification` also works, though. So hopefully this issue is fixed. Now we are waiting for the n^2 issue to be fixed, then we wo

[2016-01-18 16:43] bartoszmajsak commented on #18
I have some more insights about `n^2` issue. Will try to come up with reasonable solution in the next few days. At this point we only managed to hack something with @aslakknutsen which shouldn't be shown in the open ;)

[2016-01-18 16:53] aslakknutsen commented on #18
:+1:

[2016-02-09 07:01] kriegaex commented on #17
Anything new here? On the Spock 1.0 ticket you wrote 3 weeks ago:

Thank you. :-)

[2016-02-24 11:28] Steve973 commented on #18
Have there been any updates on this in the past month or so?

[2016-02-24 12:13] bartoszmajsak commented on #18
1.0 branch is working with latest spock. The remaining bit which I'm trying
to figure out is n^2 executions of data driven tests. I'm currently on
skiing holidays but expect updates in the following week.
On Feb 24, 2016 12:28, "Steve973" <notifications@github.com> wrote:

[2016-02-24 12:29] Steve973 commented on #18
I just built 1.0.0.Final-SNAPSHOT and when I run my test, I get the following error:
[code]

[2016-02-24 12:51] kriegaex commented on #18
Can you build my fork with minimal POM fixes?
https://github.com/kriegaex/arquillian-testrunner-spock
Branch _**spock_1.0**_!!!

[2016-02-24 12:58] Steve973 commented on #18
With the main build, and with your fork, the tests hang indefinitely on:
07:57:24,669 INFO  [org.jboss.as] JBAS015899: JBoss AS 7.1.1.Final "Brontes" starting

I can build with -DskipTests, though.  I will try that with your fork and see if I still get the same exception when I run my own test that utilizes this library.

[2016-02-24 12:59] NagyGa1 commented on #18
It does not hand, it downloads the jboss binaries for running the tests.
Might take a while.

On Wed, 24 Feb 2016 8:58 pm Steve973 <notifications@github.com> wrote:

[2016-02-24 13:00] Steve973 commented on #18
It absolutely hangs.  This is after it downloads the binaries.

[2016-02-24 13:01] Steve973 commented on #18
As you can see here, it is running:
[code]

[2016-02-24 13:03] NagyGa1 commented on #18
Sorry I should not have chipped in without knowing.

On Wed, 24 Feb 2016 9:01 pm Steve973 <notifications@github.com> wrote:

[2016-02-24 13:05] Steve973 commented on #18
@kriegaex - I get the same error with your fork:
[code]

[2016-02-24 13:06] kriegaex commented on #18
@Steve973: Sorry, I deleted my previous comment when I noticed that your problem was not a build, but a runtime problem. My fork only fixes the Maven build, no actual functionality. Maybe you want to share a testcase for @bartoszmajsak in order to help him reproduce the problem.

[2016-02-24 13:56] Steve973 commented on #18
Sorry for the false alarm.  The problem was a conflicting version of spock in my dependency chain.

[2016-02-24 14:32] Steve973 commented on #18
Is there any reason why ArquillianSputnik would not be present in my container?  I am assuming user error again, but I don't see a whole lot of difference between my project's testing setup and that of the examples.  But I am using Karaf-remote as my container.

[2016-02-24 14:35] bartoszmajsak commented on #18
If you run JBoss version older than wildfly with Java 8 this is the very
reason it hangs. You should run 7. Not sure if it's cglib but there is some
library which hangs.

Now, can I go back to beer? 😂

Cheers!
On Feb 24, 2016 14:56, "Steve973" <notifications@github.com> wrote:

[2016-02-24 14:38] bartoszmajsak commented on #18
I haven't tested with Karaf. Can't really help you much with mobile only 😩

I will be back home Saturday so if you won't be able to fix the problem
till then please give me as much relevant info about your setup as possible
or better share the example on github so I can fork, fix and PR.
On Feb 24, 2016 15:35, "Bartosz Majsak" <bartosz.majsak@gmail.com> wrote:

[2016-02-25 15:05] Steve973 commented on #18
@bartoszmajsak -- I'm working on an example right now.  I'm having a bit of trouble with something unrelated to the arquillian spock library because I'm trying to start a managed karaf container and run the tests in there.  My use case is to connect to a custom distro that is already running, but the test would be better, of course, if it was more basic and used a fresh distro of karaf.  I'll give

[2016-02-26 18:59] Steve973 commented on #18
Are any of you getting this either while building the project, or when building against this project's artifacts as dependencies:

[code]

[2016-03-10 14:00] kriegaex commented on #17
Please @bartoszmajsak, find someone who can fix it because you are obviously too busy. We have been using workarounds for more than a year now, even for OSS this is unacceptable. I do not say that you need to fix it, I accept that you are busy. But if this project is still maintained - I think Spock and Arquillian is not such an exotic combination anymore - someone should solve these severe proble

[2016-03-10 14:06] bartoszmajsak commented on #17
Yes, in fact I am  quite busy with my daily work, which is a lame excuse, but that's reality. The most tricky part, as you can imagine, is to find time during the night shifts (as it's my open source project, not a professional one), especially for something not as trivial as this problem.

I really appreciate your patience and your contributions. I will sort it out.

[2016-03-10 14:11] SchlammSpringer opened #26 "@OperateOnDeployment with @ArquillianResource not working with SPOCK 1.0"
I pimped the Unroll Test from @kriegaex wich is in the issue
[https://github.com/arquillian/arquillian-testrunner-spock/issues/17](https://github.com/arquillian/arquillian-testrunner-spock/issues/17)
 with just a `@ArquillianResource`and now the tests won´t start anymore, is there a workaround for the SPOCK 1.0 SNAPSHOT?

thx for the help

[code]

[2016-03-10 14:21] kriegaex commented on #17
Is there any way you can enable me, not knowing anything about Arquillian or the Spock runner, to (help you) fix the problem?

[2016-03-23 12:04] FylmTM commented on #17
Hi all.

We are experiencing same issue with our test suite. If there are any suggesstions/hacks/code samples - I would like to see them.
Thanks!

[2016-03-23 12:15] bartoszmajsak commented on #17
The problem boils down to `arquillian-core`, as we were able to spot the same problem for TestNG. There is no workaround I'm aware of for this moment, but I am working on this problem.

[2016-06-06 02:52] kontact-chan commented on #18
Where should i find arquillian-spock-container 1.0.0.Final-SNAPSHOT repository.

https://repository.jboss.org/nexus/content/repositories/snapshots/ don't have it anymore.

[2016-07-05 15:32] bartoszmajsak commented on #17
Fixed on the `spock_1.0` branch.

Before the release (which **will** happen this week, as I'm fully working on Arquillian now) I need to fix one more thing which I've just discovered. This however shouldn't take long :)

![triumph-colbert-report](https://cloud.githubusercontent.com/assets/719616/16590103/641321f2-42d6-11e6-84a4-837c684afec8.gif)

[2016-07-05 15:32] #17 closed

[2016-07-05 15:35] bartoszmajsak opened #27 "Duplicated deployment issue when inheriting specs"
When super type consists of `@Deployment` method there will be two attempts to deploy the same artifact, as both specs are executed. This leads to collision and error prone behaviour of tests, as container to which artifacts are supposed to be deployed to is not in the desired state.

[2016-07-05 16:23] bartoszmajsak opened #28 "@Unroll not displayed properly when running parametrized tests"
With #17 fix `@Unroll`ed tests are not reported / displayed correctly in IDE.

[2016-07-05 16:45] #27 closed

[2016-07-05 16:49] bartoszmajsak commented on #23
[Arquillian Chameleon](https://github.com/arquillian/arquillian-container-chameleon) has been added on the `@spock_1.0` branch. This not only makes maven profiles obsolete but primarly simplifies configuration so that choosing a supported container is just a matter of providing a command line variable, e.g. `-Dcontainer=wildfly:10.0.0.Final:remote`

[2016-07-05 17:07] bartoszmajsak commented on #23
Updated README with [build section](https://github.com/arquillian/arquillian-testrunner-spock/blob/6bc44bcbfcc9cb821757dcb9db64184422e19655/README.md#build).

[2016-07-05 17:07] #23 closed

[2016-07-05 17:16] bartoszmajsak opened #29 "Extended specs (inherited) are not working correctly"
Similar symptoms to #27

[2016-07-06 11:05] kriegaex commented on #17
I built the current snapshot and now the `testable = true` test cases run correctly, with or without `@Unroll`. So far, so good. But now the `testable = false` cases do not run anymore:

[code]

Any ideas?

P.S.: By removing the parent and relative path declarations in your examples project, you broke the build again. I had to re-add it.

[2016-07-06 11:08] bartoszmajsak opened #30 "@Deploment(testable = "false") is not working as expected"
[code]

[2016-07-06 11:11] bartoszmajsak commented on #17
I think I've seen very similar problem while working on follow-up issue yesterday, so might be that it's already "fixed" with my ongoing work. I have opened issue for it anyway #30.

Which build? :) I don't think I would push anything without running the build but I believe it's causing you problems in your local environment. Which version of Maven are you using? Never had problem with it. Also, i

[2016-07-06 11:28] kriegaex commented on #17
Sorry, Bartosz, my POM was invalid after the merge with my local changes in the `<version>` tag (we have to build RC versions instead of snapshots in order to enable us to use Maven Release plugin every other week when building our sprint release. The merge killed the version tag, so the build failed and I re-added the parent declaration. Adding the version instead also fixes the build problem. My

[2016-07-06 12:08] bartoszmajsak commented on #17
It's very basic issue I believe (at least from what is manifested in the stacktrace).

What I wanted to know from you is how your 'as client' test look like. Having some more real-life like test suite would help harden the extension. But I can easily think about `rest-assured` or drone tests. Will need to give it more love anyway I believe, as we should really get rid off examples in favor of more

[2016-07-06 13:02] kriegaex commented on #17
The test code I posted above was basically created by one of my developers and explicitly tries to avoid polluting the test by anything fancy. We did want to isolate the problem as such. By the way, I refactored the test a bit so as to really make it fail and not just print something to the console:

[code]

I even factored out our own Spock specification base class for you so as to help you run t

[2016-07-06 13:03] bartoszmajsak commented on #17
Thanks a lot. I'm on it.

[2016-07-27 09:38] kriegaex commented on #17
Still on it?

[2016-07-27 09:39] bartoszmajsak commented on #17
Sure, just scattered around. Need a bit more time.

On Wed, Jul 27, 2016 at 11:38 AM, Alexander Kriegisch <
notifications@github.com> wrote:

[2016-08-19 10:29] daniloascione opened #32 "Link to spockframework.org is broken"
Referenced in README.md, it redirects to https://code.google.com/archive/p/spock/ and results in a 404 error.

[2016-08-20 13:43] bartoszmajsak commented on #32
It seems to be back now. I assume however that [code.google.com](http://code.google.com) will eventually be decommissioned, so I have changed the URL to the Spock documentation. Thanks for reporting.

[2016-08-20 13:43] #32 closed

[2016-10-14 06:51] kriegaex commented on #17
Ping. This issue is closed since July, but the problem is not solved. Would you mind to either reopen or fix it? Thank you.

[2016-10-14 09:02] kriegaex commented on #26
Hi @bartoszmajsak, did you have any chance to look at this one?

[2016-11-18 14:36] fwelland commented on #18
Looks like the trail is running cold on this.    Is there going to be any movement  towards Spock 1.0 and this Arquillian Test Runner?

[2016-11-18 14:43] bartoszmajsak commented on #18
:) At least I'm responding promptly.

I didn't have time over last few months to spend time on this, but I hope to make a release early December.

[2016-11-18 15:58] fwelland commented on #18
oh wow....good to know....

I am tinkering with the spock_1.0 branch  -- do you know if that works?

[2017-03-28 18:37] dchesterman commented on #18
Any update here? :)

[2017-03-29 13:30] JonLally commented on #18
This works for me only when I pull the project and create a SNAPSHOT locally.
Can this be released so we can all use it with spock 1.0?

Thanks, Jon

[2017-03-29 22:30] kriegaex commented on #18
Some things work with Spock 1.0, others do not. So the product is not ready for a release yet. P.S.: With 1.1-rc3 being around for a while I guess 1.1-final will soon be available.

[2017-05-24 06:58] cgoncas opened #34 "It would be nice to update the Arquillian TestRunner Spock dependencies"
##### Issue Overview

I think the last arquillian-spock-container release is 1.0.0.Beta3, this release depends on Arquillain Core 1.1.2.Final. I think would be nice if this dependencies can be updated to the last Arquillian Core release.

##### Expected Behaviour
The  arquillian-spock-container should depend on last Arquillian Core release

##### Current Behaviour
The  arquillian-spock-container d

[2017-06-17 23:58] paulk-asert commented on #18
Does Spock 1.1 final make any difference?

[2017-12-19 14:02] jollytoad commented on #18
I get the impression that momentum on this has dried up, but is it likely that this runner will no longer be required anyway once https://github.com/arquillian/arquillian-core/pull/147 is complete?

[2018-02-15 11:17] jollytoad commented on #18
I was curious as to whether the support for running Arquillian via test rules rather than test-runner may work in combination with Spock (and its default Sputnik runner rather than the ArquillianSputnilk runner), and I managed to get quite close...

[code]

The only problem is that the 'feature' descriptions mismatch at run time, a SpecInfo is created and its features filtered in org.spockframewor

[2018-07-31 14:25] johnmc5810 opened #35 "Spock fixture methods not being called when ran with @RunWith(ArquillianSputnik)"
##### Issue Overview

The fixture methods are not being called when ran with @RunWith(ArquillianSputnik)

##### Expected Behaviour
The fixture methods are called as in other spock tests
##### Current Behaviour
Fixture methods not being called
##### Steps To Reproduce
1. Create a simple test case, e.g. get google.com, assert on page title
2. Add fixture methods
def setup() { println("-------setup--

[2018-09-13 10:39] kriegaex commented on #18
@bartoszmajsak, is this product dead? I still love Spock & Geb and the next one of my clients is considering using it in connection with Liferay (LR). There is a special Arquillian extension for LR, so there is always the option to use Drone for browser testing, but I would very much prefer to use Spock & Geb instead of JUnit + Drone because I just have much more experience with the former pair an

[2018-10-25 11:58] kriegaex commented on #35
Which versions of Groovy, Spock and Arquillian-Spock did you use?

[2018-11-14 12:45] kriegaex commented on #35
As you have not provided a complete [MCVE](http://stackoverflow.com/help/mcve), i.e. a Maven POM and a full test case reproducing your problem, I can just speculate about the root cause of your problem. But assuming your build setup and Spock specificattion are both okay, I can say this:

You are using an old Spock version targeted at Groovy 2.0, maybe this is part of the problem. As you can see o

[2019-09-20 12:53] jollytoad commented on #18
So, my colleague (and Geb's very own) Marcin Erdmann has taken the reins on this and submitted a PR to arquillian-core to allow Spock test methods to be executed correctly by Arquillian.

See https://github.com/arquillian/arquillian-core/pull/215

[2019-09-22 03:19] kriegaex commented on #18
@jollytoad, can you please elaborate on what exactly that means and how it solves this and other Spock-related problems? Does is mean that
* Arquillian Spock Runner (ASR) is obsolete? If so, how do I run my Spock & Geb tests now?
* it now works with the last version of ASR released on Maven Central?
* it now works with the last snapshot from _master_ or _spock_1.0_ branch of ASR?

Or is is neither

[2019-09-22 03:23] kriegaex commented on #35
I just saw this again today and was wondering if you could solve your problem back then. Just not providing feedback is not a good way to close open tickets and definitely not a nice way to treat persons who try to help you.

[2019-09-22 14:28] kriegaex commented on #35
Please don't just close the ticket, please return some information to the community you asked for help. What did you do to solve the problem?

[2019-09-22 16:36] johnmc5810 commented on #35
I changed company so issue was never solved. To recreate,you just use same dependencies and see if hooks are being called. I don't have access to the original project. It's Sunday man,chill out 😁

[2019-09-23 14:03] jollytoad commented on #18
So, if the PR is accepted and merged, the ArquillianSputnik testrunner would not be necessary.

You'd be able to use the standard spock Specification and the Arquillian rules instead (see my example above), although you still need to include various extras into the deployment archive, and an ArquillianSpecification (extending the Spock Specification class) for convenience - so we'd probably need s

[2019-09-24 03:17] kriegaex commented on #18
Hm, okay. So for now it would not be helpful to compile and run Arquillian with the PR because there would be missing pieces in the jigsaw puzzle. This has been going on for 4 years, so I would like to help this move forward by testing and providing feedback. Your explanation sounds like this is not possible yet.

[2019-09-27 11:45] #18 closed

[2019-09-27 11:45] #29 closed

[2019-09-27 11:45] #34 closed

[2019-09-27 11:45] #28 closed

[2019-09-27 11:45] #30 closed

[2019-09-27 11:45] #35 closed

[2019-09-27 11:46] bartoszmajsak commented on #26
Fixed in 334f5e8228fa1ba29b55ad6f1890cf5b25d42b4a

[2019-09-27 11:46] #26 closed

[2019-09-27 11:56] bartoszmajsak commented on #18
Closing this gives me a weird mix of feeling relieved, excited and embarrassed at the same time.

I really want to thank you all folks for providing input and nagging me to do something with this project (note: it's not a product, but opensource library and never been otherwise). Please give it a try building from master if you wish, but I will cut the release today too so the new version is out.

[2019-09-27 11:58] bartoszmajsak commented on #18
@jollytoad that's correct and should be easy to use when you are mainly focusing on blackbox tests (such as those with Geb). As soon as you want to run that in some sort of application container this extension will help you bundling all required deps.

[2019-09-27 12:53] bartoszmajsak commented on #17
It seems it was autoclosed  when pushing to non `master` branch with commit containing `Fixes #...`. Sorry for the confusion. Anyway - it's now fixed in master 334f5e8228fa1ba29b55ad6f1890cf5b25d42b4a. Cheers!

[2019-09-27 18:40] bartoszmajsak commented on #18
1.0.0.CR1 has been released. Hopefully arrives in Maven Central tonight.

[2019-09-27 18:41] bartoszmajsak commented on #17
1.0.0.CR1 has been released. Hopefully arrives in Maven Central tonight.

[2019-09-28 03:50] kriegaex commented on #17
I have been out of this project for years and no longer have access to a pom.xml enabling me to run this test. I know next to zero about Arquillian and just tried to add a few dependencies to my existing Spock sample project, but something is always missing. Maybe I am using the wrong container (Weld Embedded) or something is wrong in my arquillian.xml. The tutorials I found are not helpful, they

[2019-09-28 04:25] kriegaex commented on #26
I copied the test into this project's examples module and ran it from there. I just adjusted the test name to your preferences (`*Specification` rather than `*IT`) and also the reference to the unroll test like this:

[code]

On the console I still see:

[code]

BTW, if I remove this line

[code]

the error message becomes:

[code]

To me this looks like neither the problem in this test is fixed n

[2019-09-28 04:27] kriegaex commented on #18
Thank you. Looks like some of the tickets you closed are fixed while others are not. See my feedback there.

[2019-09-28 06:04] kriegaex commented on #26
I narrowed the problem down a bit. So if I add this to the existing [`ArquillianUnrollSpecification`](https://github.com/arquillian/arquillian-testrunner-spock/blob/master/examples/groovy-2.x/src/test/groovy/org/jboss/arquillian/ftest/spock/ArquillianUnrollSpecification.groovy) in your repository

[code]

the test still runs successfully. But as soon as I add the empty `setup()` method

[code]

it

[2019-09-28 06:25] bartoszmajsak commented on #26
Thanks, I thought it's been fixed together with making your test passed. I will have a look this weekend.

[2019-09-28 06:30] kriegaex commented on #26
Thanks, @bartoszmajsak . BTW, you closed a whole lot of tickets (also your own ones) at once. Did you really re-test all of the issues? Your own tickets are so terse, I don't know exactly what they mean. They were probably just reminders to yourself, so I guess you know what to do to re-test them. :-)

BTW, what does CR1 in the artifact version number mean? Something like RC1 ("release candidate 1

[2019-09-28 18:26] bartoszmajsak commented on #26
I think I will open separated one with your findings for clarity. This one got too broad.

They were simply a brain dump and an attempt to break down #18 which was quite broad ;) I think it's been covered by tests now, so I will elaborate on the descriptions.

CR means Candidate Release and it's been used across jboss projects for years.

[2019-09-30 13:02] bartoszmajsak opened #72 "Parametrized test with only non-testable deployment fails"
If Spock specification has parameterized feature and is supposed to be executed only on the client-side through marking `@Deployment` as non-testable, the test will fail with exception mentioned in https://github.com/arquillian/arquillian-testrunner-spock/issues/26#issuecomment-536157490.

#### Why is  that happening

- test executor is not aware that test is supposed to be executed only on the cl

[2019-09-30 13:05] bartoszmajsak commented on #21
Is it still an issue with the latest `1.0.0.CR1`?

[2019-11-05 13:07] kriegaex commented on #72
Any progress here, @bartoszmajsak?

[2019-11-14 12:52] bartoszmajsak commented on #72
@kriegaex thanks for pinging. I didn't have time yet to work on the implementation.